.category-image-label {
    width: inherit;
    text-align: center;
    font-size: larger;
    background-color: #aaaaaa;
}

.footer {
    background: black;
    border-radius: 20px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.side-bar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2em;
    font-family: SansSerif;
}

.side-bar a {
    color: black;
    font-size: large;
}