body {
    background-image: url("../image/10_2560_1600.jpg");
    background-size: cover;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.category-image-label {
    width: inherit;
    text-align: center;
    font-size: larger;
    background-color: #aaaaaa;
}

.footer {
    background: black;
    border-radius: 20px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.side-bar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2em;
    font-family: SansSerif;
}

.side-bar a {
    color: black;
    font-size: large;
}

.menu-link :hover {
    font-weight: bold;
}

.menu-link div {
    height: 100%;
    width: 100%
}

.category-sample img {
    width: inherit;
    padding: 1px;
    border: 1px solid #021a40;
}

.bordered-image {
    padding: 1px;
    border: 1px solid #021a40;
}

.category-sample span {
    width: inherit;
    text-align: center;
}